gde_data.json
i2subset_english.json
area_dialogue_output.txt
full_dialogue_output.txt
task_output.txt
game_items_output.txt
hard_items_output.txt
area_items_output.txt
area_output.txt
plant_output.txt
custom_hard_items_output.txt
quiz_output.txt
__pycache__
apicache-py3
pywikibot-*
throttle.ctrl
/user-config.py
/user-password.py
area_page_output.txt
old_gde_data.json
old_i2subset.json