gde_data.json
i2subset_english.json
old_gde_data.json
old_i2subset_english.json

area_dialogue_output.txt
full_dialogue_output.txt
game_items_output.txt
hard_items_output.txt
area_items_output.txt
area_page_output.txt
plant_output.txt
task_output.txt
area_output.txt
quiz_output.txt
tasks.xlsx

apicache-py3
__pycache__

/user-password.py
/user-config.py
throttle.ctrl
pywikibot-*